#ignore Unity files
Library/
Temp/
*_Data/

#ignore thumbnails created by windows
Thumbs.db
Thumbs.db.meta

#Ignore files build by Visual Studio
*.sln
*.sln.DotSettings
*.csproj
*.userprefs
*.pidb
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
/Assets/UnityVS
/Assets/UnityVS.meta
- NOT included

/Assets/- NOT included.meta
- Publish/
- Packages/
Assets/AssetStoreTools/
Assets/AssetStoreTools.meta
Asset sources/
Space Navigator Unity project U4/Assets/AssetStoreTools/
Space Navigator Unity project U4/Assets/AssetStoreTools.meta
Space Navigator Unity project/Assets/AssetStoreTools/Editor/AssetStoreTools.dll
Space Navigator Unity project/Assets/AssetStoreTools/Editor/AssetStoreToolsExtra.dll
/Space Navigator Unity project/Assets/AssetStoreTools.meta
Space Navigator Unity project/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll
Space Navigator Unity project/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll
Space Navigator Unity project/Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll
/Space Navigator Unity project/Assets/UnityVS.meta
